.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #4C0B91 ;
}

.loginWrapper {
  background-color: #fff;
  height: 100%;
  box-shadow: -3px 0px 24.4px 4px rgba(44, 44, 44, 0.40);
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeLeft 0.7s ease forwards;
}

.loginRow{
  width: 100%;
  height: 100vh;
}

.loginForm {
  margin: 4rem 0 !important;
  width: 80% !important;
}

.loginFormBtn {
  width: 100% !important;
}

.credits { 
  color: #4C0B91;
  position: absolute;
  bottom: 0%;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(20px); /* Opcional: agrega un desplazamiento hacia la izquierda */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Opcional: regresa a la posición original */
  }
}